// {
//   "presets": ["es2015", "stage-2"],
//   "plugins": [
//     ["transform-runtime", {
//       "polyfill": false,
//       "regenerator": true
//     }]
//   ],
//   "sourceMaps": true,
//   "retainLines": true
// }

{
  "presets": [[
    "@babel/preset-env", {
      "useBuiltIns": "entry"
    }
  ]],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "sourceMaps": true,
  "retainLines": true
}
